@page "/CreateStorageUnits"
@using Logic
@using Model;
@using Model.Enums
@layout MainLayout
@inject SessionLogic SessionLogic

<PageTitle>DepoQuick</PageTitle>

<section class="vh-75">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-75">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 fs-4">Create Storage Unit</p>
          </div>
          
          <div data-mdb-input-init class="form-outline mb-2">
            <input class="form-control form-control-lg" placeholder="Enter Id" @bind="Id" required/>
            <label class="form-label" >Id</label>
          </div>
          
          <div data-mdb-input-init class="form-outline mb-2">
            <select class="form-select form-select-lg" @bind="Area" required>
              <option value="" selected disabled hidden>Choose an option</option>
              <option value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
            </select>
            <label class="form-label">Area</label>
          </div>
          
          
          <div data-mdb-input-init class="form-outline mb-2">
              <select class="form-select form-select-lg" @bind="Size" required>
                  <option value="" selected disabled hidden>Choose an option</option>
                  <option value="small">Small</option>
                  <option value="medium">Medium</option>
                  <option value="large">Large</option>
              </select>
              <label class="form-label">Size</label>
          </div>

          <div data-mdb-input-init class="form-outline mb-2">
            <select class="form-select form-select-lg" @bind="Climatization" required>
              <option value="" selected disabled hidden>Select if has climatization</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
            <label class="form-label">Climatization</label>
          </div>
          
          <div data-mdb-input-init class="form-outline mb-2">
            <select multiple class="form-select form-select-lg" @bind="Promotions" required>
              <option value="promotion1">Promotion 1</option>
              <option value="promotion2">Promotion 2</option>
              <option value="promotion3">Promotion 3</option>
            </select>
            <label class="form-label">Promotions</label>
          </div>
          
          <div class="text-center text-lg-start pt-2">
            <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit The Storage unit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
@code {
  private string Id;
  private AreaType Area;
  private SizeType Size;
  private bool Climatization;
  private List<Promotion> Promotions;
}