@page "/Index"
@layout MainLayout

<PageTitle>Depósitos</PageTitle>

<div class="container">
    <h1 class="mt-5">Depósitos</h1>
    <p class="lead">Bienvenido a la página de depósitos. Aquí puedes realizar tus operaciones de depósito.</p>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Depósito Rápido</h5>
                    <p class="card-text">Haz un depósito rápido en tu cuenta.</p>
                    <a href="/deposito-rapido" class="btn btn-primary">Ir al depósito rápido</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Depósito Programado</h5>
                    <p class="card-text">Configura un depósito programado para tus ahorros.</p>
                    <a href="/deposito-programado" class="btn btn-primary">Ir al depósito programado</a>
                </div>
            </div>
        </div>
    </div>
</div>




@code {
    
}