@page "/Index"
@layout MainLayout

<PageTitle>DepoQuick</PageTitle>

<div class="container">
    <h1 class="mt-5">DepoQuick</h1>
    <p class="lead">Welcome to our page! Discover the convenience of hassle-free storage solutions. Whether you're decluttering your home, moving to a new place, or just need some extra space, we've got you covered. Explore our range of StorageUnits and find the perfect fit for your needs. Start storing smarter today!</p>

    <div class="row">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">My Reserved StorageUnits</h5>
                    <p class="card-text">Check your pending for approval StorageUnits.</p>
                    <a href="/MyStorageUnits" class="btn btn-primary">Go to my StorageUnits</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">My booked StorageUnits</h5>
                    <p class="card-text">Check your active StorageUnits.</p>
                    <a href="/MyBookigs" class="btn btn-primary">Go to my Bookings</a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Still not having a StorageUnit? Go check our last updates!</h5>
                    <p class="card-text">Check our best and renovated options.</p>
                    <a href="/Bookigs" class="btn btn-primary">Go to Bookings</a>
                    </div>
                </div>
            </div>
    </div>
</div>




@code {
    
}