@page "/"
@page "/login"
@layout LoginLayout
@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase


@inject NavigationManager NavigationManager
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5 justify-content-center align-items-center">
        <img src="../wwwroot/logo.png" class="img-fluid" alt="Logo Depo Quick" width="520" height="320">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <EditForm Model="@loginModel" OnValidSubmit="HandleValidSubmit">
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 fs-4">Sign in with:</p>
          </div>
        
          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <InputText @bind-Value="loginModel.Email" type="email" class="form-control form-control-lg" placeholder="Enter email address" required/>
            <label class="form-label" for="UserEmail">Email address</label>
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-3">
            <InputText @bind-Value="loginModel.Password" type="password" class="form-control form-control-lg" placeholder="Enter password" required/>
            <label class="form-label" for="UserPassword">Password</label>
          </div>
          
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a @onclick="GoToSignUp"
                class="link-danger">Register</a></p>
          </div>
        </EditForm>
      </div>
    </div>
  </div>
  <div
    class="footer d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-warning">
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2023. All rights reserved.
    </div>
  </div>
</section>


@code {
    private LoginModel loginModel = new LoginModel();

    public class LoginModel
    {
      public string Email { get; set; }
      public string Password { get; set; }
    }
    
    /*
    User user;
    private string email = String.Empty;
    private string password = String.Empty;
         
    private string errorMessage;
    private bool showSuccessMessage = false;
    
    protected override void OnInitialized()
    {
      user = new User();
    }
    
    private async Task HandleValidSubmit()
    {
      try
      {
        user.Email = email;
        user.Password = password;
        SessionLogic.Login(user);
        showSuccessMessage = true;
        await Task.Delay(2000);
        NavigationManager.NavigateTo("/Index", true);
      }
      catch (Exception e)
      {
        Console.WriteLine(e.Message);
      }
    }
    */
    
    private void HandleValidSubmit()
    {
      NavigationManager.NavigateTo("/index");
    }
    
    private void GoToSignUp()
    {
      NavigationManager.NavigateTo("/signup");
    }
}
